<header class="h-16 flex justify-center border-b border-black bg-white" id="header">
  <mat-toolbar-row class="w-full flex items-center px-5 gap-5">
    <figure class="flex items-center px-5 gap-2 cursor-pointer" routerLink="/">
      <img
        src="../../../assets/logo.jpg"
        class="size-10 rounded-2xl"
        alt="barbecue logo"
      />
      <figcaption class="font-bold">Churrascômetro</figcaption>
    </figure>

    <div class="flex gap-2">
        <a href="/churrascos" mat-flat-button>Meus churrascos</a>
        <a href="/produtos" mat-flat-button>Meus produtos</a>
    </div>
  </mat-toolbar-row>
</header>
