<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Preço</th>
                <th>Consumo Médio Adulto</th> 
                <th>Consumo Médio Crianca</th>
                <th></th> 
                <th></th> 
            </tr>
        </thead>
        <tbody>
            @for (produto of produtos; track $index) {
                <tr>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome | titlecase }}</td> 
                    <td>{{ produto.tipo | titlecase }}</td>
                    @if (tipo === 'carnes') {
                        <td> {{ produto.preco_kg | currency: 'BRL' }}</td> 
                        <td> {{ produto.consumo_medio_adulto_g }}g</td> 
                        <td> {{ produto.consumo_medio_crianca_g }}g</td>
                    } @else if (tipo === 'bebidas') {
                        <td> {{ produto.preco_unidade | currency: 'BRL' }}</td> 
                        <td> {{ produto.consumo_medio_adulto_ml }}ml</td> 
                        <td> {{ produto.consumo_medio_crianca_ml }}ml</td>
                    }
                    <td>
                        <button mat-raised-button class="flex gap-2 p-2 items-center text-center text-" color="accent" (click)="goToEditarProduto(tipo, produto.id)">
                            <mat-icon aria-hidden="false" fontIcon="edit" class="text-neutral-400 size-1"></mat-icon>
                            Editar
                        </button>
                    </td>
                    <td>
                        <button mat-raised-button class="flex gap-2 p-2 items-center text-center text-" color="accent" (click)="openDialog(produto)">
                            <mat-icon aria-hidden="false" fontIcon="delete" class="text-neutral-400 size-1"></mat-icon>
                            Excluir
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


